html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: #4a2c2a !important;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	background-image: url('https://image.shutterstock.com/z/stock-vector-seamless-doodle-pattern-aeropress-vector-illustration-413930686.jpg');
	/* background-image: url('https://image.shutterstock.com/z/stock-photo-preparation-of-coffee-in-aeropress-portable-filter-coffee-maker-797339080.jpg'); */
	/* background-image: url('https://image.shutterstock.com/z/stock-photo-coffee-concept-beans-ground-instant-capsules-aeropress-marble-background-top-view-1440849941.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
}

/* Nav bar */
nav {
	background-color: #4a2c2a !important;
	line-height: 82px;
	height: 82px;
}

.input-field {
	margin: 0 auto;
}

.collection {
	overflow: visible;
}

.step {
	font-size: 14px;
	padding: 2px 10px !important;
	border-bottom: none !important;
}

.brew-time i {
	background-color: white !important;
	color: black !important;
	font-size: 23px !important;
}

.timer {
	font-size: 38px !important;
	/* margin-right: 1px; */
}

.thumb {
	margin-right: 0px !important;
	font-size: 1.1rem !important;
	/* display: inline; */
}

/* * IDEA: all text could go white (against dark bg) on hover */
.thumb-anchor:hover {
	color: white;
}

.hide {
	display: none;
}

/* TODO: collabsible header, once clicked should remain coloured until click out */

#headers {
	/* font-size: 14px; */
	background-color: #4a2c2a;
	color: white;
	cursor: auto;
}

.collapsible {
	margin-top: 0px;
}

.collapsible-header {
	transition: all 0.1s ease-in-out;
	padding: 8px 1px;
}
.collapsible-header:hover {
	background-color: burlywood;
	/* background-color: darkgoldenrod; */
	transition: all 0.1s ease-in;
	color: white;
}

.collapsible-body {
	padding: 14px;
	background-color: lightgray;
	/* background-color: brown; */
	/* color: white; */
}

.steps li {
	background-color: lightgray !important;
}

.edit-btn {
	margin-right: 12px;
}

.s1,
.s2 {
	padding: 1px !important;
	margin-left: 2px;
}

.medal {
	display: inline;
}

#sort-by {
	max-width: 360px;
}

.pagination {
	margin: 20px auto;
}

.waves-effect a:hover {
	background-color: pink;
	transition: all 0.2s ease-in-out;
	color: white;
}

footer {
	/* TODO: sticky footer */
	background-color: #4a2c2a !important;
	width: 100%;
	bottom: 0 !important;
	margin: auto;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

/* iPhone X and smaller */
@media (max-width: 375px) {
	.container {
		width: 97%;
		max-width: 97%;
	}
	.icon {
		display: none !important;
	}
	#response {
		padding: 2px 0px;
	}
	body {
		font-size: 10px;
	}
}
/* media queries */
@media (min-width: 320px) {
}

/* Desktop devices */
@media (min-width: 992px) {
	.container {
		width: 85%;
		max-width: 85%;
	}
}

* {
	/* outline: 1px solid pink; */
	outline-offset: -1px;
}
