body {
  /* background-color: #4a2c2a; */
  color: #4a2c2a !important;
  font-size: large;
}

/* Nav bar */
nav {
   background-color: #4a2c2a !important;
}

.container {
   margin-left: 5%;
}

footer {
   background-color: #4a2c2a !important;
}