{% extends 'base.html' %}
{% block content %}
<main>
   <div class="container">
      <div class="row">
         <h4>World AeroPress Champs</h4>
         <div class="col l8" id="about-text">
            <p>The World AeroPress Championship is a global coffee-making competition, designed to find the world's best
               cup
               of AeroPress coffee.
            </p>
            <p>Each season is comprised of a series regional and national competitions, run by independent hosts across
               60
               countries, which culminates with the World AeroPress Championship final.
            </p>
            <p>The competition itself is a multi-round elimination tournament. In each round, three competitors will
               face
               off
               against each other, simultaneously brewing a single cup of coffee using the AeroPress brewer. Competitors
               have 8 minutes in which to prepare, brew, and present their coffee to a panel of three judges.
            </p>
         </div>
         <div class="col l4">
            <!-- WAC Logo -->
            <img
               src="https://static1.squarespace.com/static/57e0ec14579fb32aef30644e/t/5df2e14393135176b0697d6f/1578388120485/?format=1500w"
               class="responsive-img hide-on-med-and-down" alt="WAC Logo" />
         </div>
      </div>
      <div class="row">
         <div class="col s12">
            <!-- Embedded Video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/u928bWvxrZ8" id="youtube-video"
               allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
         </div>
      </div>
   </div>
</main>
{% endblock %}