{% extends 'base.html' %}
{% block content %}


<div class="row container">
   <h4>Add a Brew</h4>
   <!-- Form Input -->
   <!-- TODO: Form validation -->
   <form class="col s12" action="{{ url_for('insert_brew') }}" method="POST">
      <div class="row">
         <div class="input-field col s12 m10 l4">
            <i class="material-icons prefix">local_cafe</i>
            <input id="brew_name" name="brew_name" type="text" class="validate" required />
            <label for="brew_name">Brew Name</label>
            <span class="helper-text" data-error="Required" data-success="Yum!"></span>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12 m10 l4">
            <!-- <i class="material-icons prefix">phone</i> -->
            <i class="material-icons prefix">account_circle</i>
            <input id="barista_name" name="barista_name" type="text" class="validate" required />
            <label for="barista_name">Barista Name</label>
            <span class="helper-text" data-error="Required" data-success=""></span>
         </div>
      </div>
      <div class="row">
         <!-- <h5>Details</!-->
         <div class="input-field col s12 m10 l4">
            <select id="brewer" name="brewer" class="icons">
               <option value="Inverted" data-icon="static/images/aeropress_inverted.svg" class="left" default>Inverted
               </option>
               <option value="Upright" data-icon="static/images/aeropress.svg" class="left">Upright</option>
            </select>
            <label for="brewer_position">Brewing Method</label>
         </div>
      </div>
      <div class="row">
         <!-- TODO: change sliders to noUiSliders -->
         <p class="range-field col s12 m10 l4">
            <input type="range" id="coffee_weight_slider" name="coffee_weight" min="10" max="40" value="16"
               onclick="displaySliderValue('coffee_weight');" />
            <img src="static/images/bean.svg" alt="Coffee Beans" height="32px">
            <label for="coffee_weight_slider">Coffee Dose (g)</label>
            <div id="coffee_weight_label"><span id="coffee_weight_span"></span> grams</div>
         </p>
      </div>
      <div class="row">
         <p class="range-field col s12 m10 l4">
            <input type="range" id="grind_size_slider" name="grind_size" min="1" max="10" value="5"
               onclick="displaySliderValue('grind_size');" />
            <img src="static/images/grinder.svg" alt="Coffee Grinder" height="36px">
            <label for="grind_size_slider">Grind Size (1: fine, 10: coarse)</label>
            <div id="grind_size_label"><span id="grind_size_span"></span>/10</div>
         </p>
      </div>
      <div class="row">
         <p class="range-field col s12 m10 l4">
            <input type="range" id="Water Temp" name="water_temp" min="70" max="100" value="90"
               onclick="displaySliderValue('water_temp');" />
            <img src="static/images/thermometer.svg" alt="Thermomenter" height="34px">
            <!-- <i class="fas fa-thermometer-three-quarters"></i> -->
            <label for="water_temp_slider">Water Temp (°C)</label>
            <div id="water_temp_label"><span id="water_temp_span"></span> °C</div>
         </p>
      </div>
      <div class="row">
         <p class="range-field col s12 m10 l4">
            <input type="range" id="brew_time" name="brew_time" min="30" max="220" value="120" step="5"
               onclick="displaySliderValue('brew_time');" />
            <i class="material-icons">timer</i>
            <label for="brew_time">Total Brew Time (s)</label>
            <div id="brew_time_label"><span id="brew_time_span"></span> seconds</div>
         </p>
      </div>
      <div class="row">
         <div class="input-field col s12 m10 l4">
            <img src="static/images/filter.svg" alt="Coffee filter" height="32px" class="prefix">
            <select id="filter" name="filter" required>
               <option value="Single Paper" selected>Single Paper</option>
               <option value="Double Paper">Double Paper</option>
               <option value="Metal">Metal</option>
               <option value="Both Metal & Paper">Metal & Paper</option>
               <span class="helper-text" data-error="Required" data-success=""></span>
            </select>
            <label for="filter">Filter Type</label>
         </div>
      </div>
      <div class="row">
         <h5>
            <i class="material-icons">format_list_numbered</i>
            Steps
         </h5>
         <div class="col s12 m10 l6">
            <div class="steps">
               <div class="input-field step">
                  <input id="step_1" name="step_1" type="text" class="validate" required>
                  <label for="step_1">Step 1</label>
                  <span class="helper-text" data-error="Required"></span>
               </div>
            </div>
            <a class="btn btn-small waves-effect waves-light blue add-step-btn">
               Add Step
               <i class="material-icons">add</i>
            </a>
         </div>
      </div>

      <!-- Submit Button -->
      <button class="btn waves-effect waves-light" type="submit">Submit
         <i class="material-icons right">send</i>
      </button>
   </form>
</div>

{% endblock %}

{% block additional_scripts %}
<script type="text/javascript">
   // TODO: move to main.js or elsewher
   $(document).ready(function () {
      displaySliderValue('coffee_weight');
      displaySliderValue('grind_size');
      displaySliderValue('water_temp');
      displaySliderValue('brew_time');
   })

</script>
{% endblock %}