<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Material Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Google font -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
   <!-- style.css -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
   <!-- Favicon -->
   <link rel="shortcut icon" href="{{url_for('static', filename='images/aeropress_colour.png')}}" type="image/x-icon">
   <title>AeroPress Hub | {{ title }}</title>
</head>

<body>
   <!-- Navgation Bar -->
   <div class="navbar">
      <nav>
         <div class="nav-wrapper">
            <a href="{{url_for('index')}}" class="brand-logo center">
               <img src="https://image.flaticon.com/icons/svg/901/901721.svg" height="50px" id="hub-logo"
                  class="right hide-on-small-only" alt="AeroPress Hub Logo">
               AeroPress Hub
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
               <li class={{get_brews_active}}>
                  <a href="{{url_for('index')}}" class="waves-effect waves-light">BREW BROWSER</a>
               </li>
               <li class={{add_brew_active}}>
                  <a href="{{url_for('add_brew')}}" class="waves-effect waves-light">ADD BREW</a>
               </li>
               <li class={{about_active}}>
                  <a href="{{url_for('about')}}" class="waves-effect waves-light">ABOUT</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- Side Navigation Bar -->
      <ul class="sidenav" id="mobile-nav">
         <li class={{get_brews_active}}>
            <div class="background">
               <img src="{{url_for('static', filename='images/lake-bled.jpg')}}" alt="Cup at Lake Bled" id="lake-bled">
            </div>
         </li>
         <li class={{get_brews_active}}>
            <a href="{{url_for('index')}}" class="waves-effect waves-light">
               <i class="material-icons prefix">local_cafe</i>
               BREW BROWSER</a>
         </li>
         <li class={{add_brew_active}}>
            <a href="{{url_for('add_brew')}}" class="waves-effect waves-light">
               <i class="material-icons">add_circle</i>
               ADD BREW
            </a>
         </li>
         <li class={{about_active}}>
            <a href="{{url_for('about')}}" class="waves-effect waves-light">
               <i class="material-icons">info</i>
               ABOUT
            </a>
         </li>
      </ul>
   </div>
   {% block content %}
   {% endblock %}
   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <!-- some of the below is only relevant for certain pages -->
   <script src="{{url_for('static', filename='js/main.js')}}"></script>

   <!-- Footer -->
   <footer class="page-footer">
      <div class="container">
         <div class="row">
            <div class="col l6 s12">
               <p class="grey-text">Championship Recipes from
                  <a href="https://www.aeropress.com/" target="_blank">AeroPress.com</a>
               </p>
               <p>
                  <a class="grey-text" href="https://www.aero.press/" target="_blank">World AeroPress Champs</a>
               </p>
            </div>
            <div class="col l4 offset-l2 s12">
               <!-- (placeholder) Affiliate Links -->
               <h6 class="white-text">Affiliate Links</h6>
               <ul>
                  <li>
                     <a class="grey-text"
                        href="https://www.amazon.com/AeroPress-Coffee-Espresso-Maker-Bitterness/dp/B0047BIWSK/ref=sr_1_4?keywords=aeropress&qid=1580995904&sr=8-4&tag=fake_tag"
                        target="_blank">
                        AeroPress on Amazon
                     </a>
                  </li>
                  <li>
                     <a class="grey-text"
                        href="https://www.amazon.com/AeroPress-Replacement-Filters-Pack-Microfilters/dp/B005UPSLX8/ref=sr_1_1?keywords=aeropress+paper&qid=1580995966&sr=8-1&tag=fake_tag"
                        target="_blank">
                        Paper Filters on Amazon
                     </a>
                  </li>
                  <li>
                     <a class="grey-text"
                        href="https://www.amazon.com/Barista-Quality-Reusable-Filters-Slimm-Filter/dp/B075G1G4D2/ref=sr_1_1?keywords=metal+filter+koffi&qid=1580996020&sr=8-1&tag=fake_tag"
                        target="_blank">
                        KOFFI Metal Filters on Amazon
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="footer-copyright">
         <div class="container center">
            Developed by Thomas Dunn
            <a href="https://github.com/tdunn891/milestone-3" target="_blank">
               <img src="{{url_for('static', filename='images/github-32.png')}}" id="github-logo" alt="GitHub Logo" />
            </a>
         </div>
      </div>
   </footer>
</body>

</html>