<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Material Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- style.css -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />


   <title>AeroPress Brews</title>
</head>

<body>
   <!-- Nav bar -->
   <nav>
      <div class="nav-wrapper">
         <a href="{{url_for('get_brews')}}" class="brand-logo">
            <i class="material-icons prefix">local_cafe</i>
            AeroPress Brews
         </a>
         <ul class="right hide-on-med-and-down">
            <li><a href="#"><i class="material-icons">search</i></a></li>
            <li><a href="#"><i class="material-icons">view_module</i></a></li>
            <li><a href="{{url_for('insert_brew')}}"><i class="material-icons">add_circle</i></a></li>
            <!-- <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li> -->
            <!-- <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
         </ul>
      </div>
   </nav>
   <!-- <h1>Base.html</h1> -->
   {% block content %}

   {% endblock %}
   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <!-- some of the below is only relevant for certain pages -->
   <script src="{{url_for('static', filename='js/main.js')}}"></script>
   <script>$(document).ready(function () {
         $('select').formSelect();
         $('input#input_text, textarea#textarea2').characterCounter();
         $('.sidenav').sidenav();
      });
   </script>
   {% block additional_scripts %}
   {% endblock %}
</body>

</html>