{% extends 'base.html' %}
{% block content %}

<!-- Collection  -->
<div class="row">
   <div class="col s12 m4">
      <h4>Brews</h4>
      <ul class="collection">
         {% for brew in brews %}
         <li class="collection-item avatar">
            <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
            <!-- If champion, show champ logo, else show normal aeropress -->
            <img style="width: 45px; height: auto" class="circle"
               src="https://static1.squarespace.com/static/57e0ec14579fb32aef30644e/t/5df2e14393135176b0697d6f/1578388120485/?format=1500w" />
            <span class="title">
               <i class="material-icons prefix">local_cafe</i>
               <a href="" onclick="javascript:alert('{{brew.steps[0]}}');">{{brew.brew_name}}</a></span>
            <p><i class="material-icons">account_circle</i>{{brew.barista}}<br>
               <!-- TODO: if field is blank, don't br -->
               <img src="static/images/bean.svg" alt="Coffee Beans" height="22px">
               {{brew.details.coffee}}<br>
               <img src="static/images/grinder.svg" alt="Coffee Grinder" height="28px">
               {{brew.details.grind}}<br>
               <i class="material-icons">timer</i>{{brew.total_brew_time}}
               <!-- Second Line -->
            </p>
            <a href="#!" class="secondary-content">
               <!-- <i class="material-icons">grade</i> -->
               <!-- TODO: wire thumb_up to increase likes on db  -->
               <!-- TODO: thumb should initially be unfilled; fill on click -->
               {% if brew.details.brewer == 'Inverted' %}
               <img src="static/images/aeropress_inverted.svg" alt="Brew Method: Inverted" height="40px">
               {% endif %}
               {% if brew.details.brewer == 'Upright' %}
               <img src="static/images/aeropress.svg" alt="Brew Method: Upright" height="40px">
               {% endif %}
               <span>{{brew.likes}}</span>
               <!-- <i class="material-icons">thumb_up</i> -->
               <!-- <i class="material-icons">format_list_numbered</i><br> -->
            </a>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>

{% endblock %}