{% extends 'base.html' %}
{% block content %}

<div class="row">
   <div class="col l2">
      <!-- <h4>All Brews</h4> -->
      <a href="{{url_for('empty_db')}}" class="btn btn-small red" method="POST">Empty Database</a>
      <h5>Filters</h5>
      <form action="{{ url_for('apply_filters') }}" id="filters">
         <h6>Brew Source:</h6>
         <label style="display: block;">
            <input type="checkbox" id="wac" class="filled-in" checked="checked" name="brew_source"
               value="World AeroPress Championships Finalist" />
            <span>WAC</span>
         </label>
         <label style="display: block;">
            <input type="checkbox" id="non-wac" class="filled-in" checked="checked" name="brew_source" value="User" />
            <span>Non-WAC</span>
         </label>
         <h6>Brewer:</h6>
         <label style="display: block;">
            <input type="checkbox" id="upright" class="filled-in" checked="checked" name="brewer" value="Upright" />
            <span>Upright</span>
         </label>
         <label style="display: block">
            <input type="checkbox" id="inverted" class="filled-in" checked="checked" name="brewer" value="Inverted" />
            <span>Inverted</span>
         </label>
         <h6>Filter Type:</h6>
         <label style="display: block;">
            <input type="checkbox" id="single-paper" class="filled-in" checked="checked" name="filter" value="Paper" />
            <span>Single Paper</span>
         </label>
         <label style="display: block">
            <input type="checkbox" id="double-paper" class="filled-in" checked="checked" name="filter"
               value="Double Paper" />
            <span>Double Paper</span>
         </label>
         <label style="display: block">
            <input type="checkbox" id="metal" class="filled-in" checked="checked" name="filter" value="Metal" />
            <span>Metal</span>
         </label>
         <label style="display: block">
            <input type="checkbox" id="metal-and-paper" class="filled-in" checked="checked" name="filter"
               value="Both Metal and Paper" />
            <span>Both Metal & Paper</span>
         </label>
         <button class="btn btn-small" type="submit">FILTER</button>
         <!-- TODO: fix reset filter button -->
         <button href="{{url_for('get_brews')}}" class="btn btn-small" id="reset-filters">RESET</button>
      </form>
   </div>
   <div class="col s12 m12 l10">
      <h5>Showing {{ filtered_records_count }} of {{ total_records }}</h5>
      <ul class="collection collapsible popout">
         {% for brew in brews %}
         <li id="{{brew._id}}">
            <div class="collapsible-header">
               {% if brew.details.brewer == 'Inverted' %}
               <a href="" class="tooltipped" data-position="bottom" data-tooltip="Inverted">
                  <img src="static/images/aeropress_inverted.svg" alt="Brew Method: Inverted" height="40px">
               </a>
               {% endif %}
               {% if brew.details.brewer == 'Upright' %}
               <a href="" class="tooltipped" data-position="bottom" data-tooltip="Upright">
                  <img src="static/images/aeropress.svg" alt="Brew Method: Upright" height="40px">
               </a>
               {% endif %}
               <!-- TODO: remove brs -->
               {{brew.brew_name}}<br>
               {{brew.barista}}<br>
               <span class="likes-count">
                  <!-- TODO: vertically align likes and thumb -->
                  <a href="{{url_for('increase_likes', brew_id=brew._id)}}" class="thumb-anchor" method="POST">
                     <i class="material-icons thumb">thumb_up</i>
                     <span class="likes">{{brew.likes}}</span>
                  </a>
               </span>
            </div>
            <div class="collapsible-body">
               <div class="row">
                  <div class="col s12 m5 l4">
                     <h5>Details:</h5>
                     <form action="{{ url_for('update_brew', brew_id=brew._id) }}" method="POST">
                        <!-- TODO: hide edit button once pressed (addClass) -->
                        <a class="btn tooltipped edit-btn" data-position="bottom" data-tooltip="Edit">
                           <!-- <i class="material-icons cyan-text">edit</i> -->
                           EDIT
                        </a>
                        <!-- TODO: scale transition buttons which disappear: https://materializecss.com/css-transitions.html#! -->
                        <button class="btn make-changes-btn waves-effect waves-light hide" type="submit">Submit
                           Changes</button>
                        <button class="btn cancel-changes-btn waves-effect waves-light hide">Cancel</button>
                        <ul class=collection>
                           {% if brew.details.brewer == 'Inverted' %}
                           <li class="collection-item avatar brewer">
                              <img src="static/images/aeropress_inverted.svg" alt="Brew Method: Inverted" height="40px"
                                 class="circle">
                              <span class="title">Inverted</span>
                           </li>
                           {% endif %}
                           {% if brew.details.brewer == 'Upright' %}
                           <li class="collection-item avatar brewer">
                              <img src="static/images/aeropress.svg" alt="Brew Method: Upright" height="40px"
                                 class="circle">
                              <span class="title">Upright</span>
                           </li>
                           {% endif %}
                           {% if brew.details.coffee != null %}
                           <li class="collection-item avatar coffee-weight">
                              <img src="static/images/bean.svg" alt="Coffee Beans" height="22px" class="circle">
                              <span class="title">
                                 {{brew.details.coffee}}</span>
                              <input type="range" class="coffee-weight-slider hide" name="coffee_weight" min="10"
                                 max="40" value="{{brew.details.coffee[:-1]}}" />
                              <label for="coffee-weight-slider">Coffee Dose (g)</label>
                           </li>
                           {% endif %}
                           {% if brew.details.grind != null %}
                           <li class="collection-item avatar grind">
                              <img src="static/images/grinder.svg" alt="Coffee Grinder" height="28px"
                                 class="circle"><span class="title">{{brew.details.grind}}</span>
                           </li>
                           {% endif %}
                           {% if brew.details.water != null %}
                           <li class="collection-item avatar water">
                              <img src="static/images/thermometer.svg" alt="Thermomenter" height="28px" class="circle">
                              <span class="title">
                                 {{brew.details.water}}
                              </span>
                           </li>
                           {% endif %}
                           {% if brew.details.filter != null %}
                           <li class="collection-item avatar filter">
                              <img src="static/images/filter.svg" alt="Coffee filter" height="28px" class="circle">
                              <span class="title">
                                 {{brew.details.filter}}
                              </span>
                           </li>
                           {% endif %}
                           {% if brew.total_brew_time != null %}
                           <li class="collection-item avatar brew-time">
                              <i class="material-icons circle">timer</i>
                              <span class="title">
                                 {{brew.total_brew_time}}
                              </span>
                           </li>
                           {% endif %}
                        </ul>
                     </form>
                  </div>
                  <div class="col s12 m7 l8">
                     <h5>Steps:</h5>
                     <ol class="steps">
                        {% for step in brew.steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                     </ol>
                     <!-- Delete Button -->
                     <a href="#delete-brew-modal-{{brew._id}}" class="tooltipped btn red waves-effect modal-trigger"
                        data-position="bottom" data-tooltip="Delete">Delete
                        <!-- <i class="material-icons red-text text-darken-2">delete</i> -->
                     </a>
                  </div>
               </div>
            </div>
         </li>
         <!-- Modal to delete brew -->
         <!-- TODO: ideally remove {{brew._id}}. just refer to li brew.id then work down -->
         <div id="delete-brew-modal-{{brew._id}}" class="modal" style="max-width: 400px;">
            <div class="modal-content">
               <h5>Delete '{{brew.brew_name}}'?</h5>
            </div>
            <div class="modal-footer">
               <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
               <a href="{{url_for('delete_brew', brew_id=brew._id)}}"
                  class="modal-close waves-effect waves-red btn-flat delete-btn" type="submit"
                  id="{{brew.brew_name}}">OK</a>
            </div>
         </div>
         {% endfor %}
      </ul>
   </div>
</div>

{% endblock %}