{% extends 'base.html' %}
{% block content %}

<div class="container">
   <div class="row">
      <br>
      <h3>Browse Brews</h3>
      <p>[TODO: fix pagination - if serialstring has offset and limit, don't add defaults. view counts, share button, a
         few graphs (eg Winning Recipes by Country etc) (dc.js)]</p>
      <div class="col l2">
         <!-- <h4>All Brews</h4> -->
         <!-- <a href="{{url_for('empty_db')}}" class="btn btn-small red" method="POST">Empty Database</a> -->
         <div class="">
            <!-- <h5>Sort</h5> -->
            <form action="javascript:void(0);" id="filters">
               <!-- <form action="{{ url_for('apply_filters') }}" id="filters"> -->
               <label for="sort-by">Sort by:</label>
               <select class="input-field" id="sort-by" name="sort-by">
                  <!-- TODO: Add icons to sort dropdown -->
                  <option value="" disabled>Sort by:</option>
                  <option value="barista" selected>Barista Name: A-Z</option>
                  <option value="brew_name">Brew Name: A-Z</option>
                  <option value="total_brew_time">Brew Time: Short to Long</option>
                  <option value="details.coffee">Coffee Dose: High to Low</option>
                  <option value="country">Country: A-Z</option>
                  <option value="details.grind">Grind Size: Fine to Coarse</option>
                  <option value="likes">Most Popular</option>
               </select>
               <!-- <h5>Filters</h5> -->
               <br>
               <b>Brew Source:</b>
               <label style="display: block;">
                  <input type="checkbox" id="wac" class="filled-in" checked="checked" name="brew_source"
                     value="World AeroPress Championships Finalist" />
                  <span>Championship</span>
               </label>
               <label style="display: block;">
                  <input type="checkbox" id="non-wac" class="filled-in" checked="checked" name="brew_source"
                     value="Average Joe" />
                  <span>Average Joe</span>
               </label>
               <br>
               <b>Brewer:</b>
               <label style="display: block;">
                  <input type="checkbox" id="upright" class="filled-in" checked="checked" name="brewer"
                     value="Upright" />
                  <span>Upright</span>
               </label>
               <label style="display: block">
                  <input type="checkbox" id="inverted" class="filled-in" checked="checked" name="brewer"
                     value="Inverted" />
                  <span>Inverted</span>
               </label>
               <br>
               <b>Filter Type:</b>
               <label style="display: block;">
                  <input type="checkbox" id="single-paper" class="filled-in" checked="checked" name="filter"
                     value="Paper" />
                  <span>Single Paper</span>
               </label>
               <label style="display: block">
                  <input type="checkbox" id="double-paper" class="filled-in" checked="checked" name="filter"
                     value="Double Paper" />
                  <span>Double Paper</span>
               </label>
               <label style="display: block">
                  <input type="checkbox" id="metal" class="filled-in" checked="checked" name="filter" value="Metal" />
                  <span>Metal</span>
               </label>
               <label style="display: block">
                  <input type="checkbox" id="metal-and-paper" class="filled-in" checked="checked" name="filter"
                     value="Both Metal and Paper" />
                  <span>Both Metal & Paper</span>
               </label>

               <!-- TODO: fix reset filter button, so that it ajaxes, not reload -->
               <br>
               <a class="btn btn-small" href="{{ url_for('index') }}" id="reset-filters">RESET</a>
            </form>
         </div>
      </div>
      <div class="col s12 m12 l10" id='response'>

      </div>
   </div>
</div>
<div class="fixed-action-btn">
   <a href="#" class="btn-floating btn-medium brown">
      <i class="material-icons">arrow_upward</i>
      <!-- <i class="large material-icons">mode_edit</i> -->
   </a>
</div>
{% endblock %}

{% block addl_scripts %}

<!-- * could use fetch instead https://www.youtube.com/watch?v=QKcVjdLEX_s -->
<script type="text/javascript">
   $(document).ready(function () {
      getFirstPage();
   })

   function getFirstPage() {
      let serialFilters = $('#filters').serialize();
      //console.log('serialFilters: ' + serialFilters)
      console.log('getFirstPage running');
      $.ajax({
         url: `/get_brews?${serialFilters}`,
         //url: `/get_brews?limit=5&${serialFilters}`,
         type: "GET",
         success: function (resp) {
            $('#response').html(resp.data);
         }
      }).then(function () {
         $('.sidenav').sidenav();
         $('.tooltipped').tooltip();
         $('.collapsible').collapsible({
            induration: 250,
            outduration: 250
         });
         $('select').formselect();
         $('.modal').modal({ opacity: 0.2 });
         $('.fixed-action-btn').floatingactionbutton();
      })
   }
   // additional pages
   function goToPage(urlPage) {
      console.log('goToPage running');
      //test
      //let serialFilters = $('#filters').serialize();
      $.ajax({
         url: urlPage,
         type: "GET",
         success: function (resp) {
            $('#response').html(resp.data);
         }
      }).then(function () {
         $('.sidenav').sidenav();
         $('.tooltipped').tooltip();
         $('.collapsible').collapsible({
            induration: 250,
            outduration: 250
         });
         $('select').formselect();
         $('.modal').modal({ opacity: 0.2 });
         $('.fixed-action-btn').floatingactionbutton();
      })
   };
</script>

{% endblock %}