<div class="col s12">
   <p id="pagination-display">Matching: {{ filtered_records_count }}
      (showing {{ offset+1 }}-{{offset+brews_displayed}}) |
      Total: {{ total_records }}
   </p>
   <ul class="collection" id="headers-list">
      <li>
         <div class="collapsible-header" id="headers">
            <div class="col s2 m2">Brew</div>
            <div class="col s3 m3">Barista</div>
            <div class="col s2 m2">Country</div>
            <div class="col s2 m2">Filter</div>
            <div class="col s1 m1">Dose (g)</div>
            <div class="col s1 m1 tooltipped" data-tooltip="1: Fine, 10: Coarse" data-position="top">Grind</div>
            <div class="col s1 m1">Likes</div>
         </div>
      </li>
   </ul>
   <ul class="collection collapsible">
      {% for brew in brews %}
      {% include 'brew_table_record.html' %}
      {% endfor %}
   </ul>
   {% include 'pagination_bar.html' %}
</div>

<!-- Modal Structure -->
<div id="delete-modal" class="modal">
   <div class="modal-content">
      <h4>Delete Brew?</h4>
   </div>
   <div class="modal-footer">
      <a href="" class="btn btn-small modal-close waves-effect waves-red red confirm-delete-btn">Delete</a>
      <a class="btn btn-small modal-close waves-effect grey cancel-delete-btn">Cancel</a>
   </div>
</div>
